@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  /* KEEN SLIDER  */
  .keen-slider{display:flex;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;touch-action:pan-y;-webkit-tap-highlight-color:transparent;border-radius:20px;}.keen-slider,.keen-slider__slide{overflow:hidden;position:relative;}.keen-slider__slide{width:100%;min-height:100%}.keen-slider[data-keen-slider-v]{flex-wrap:wrap}.keen-slider[data-keen-slider-v] .keen-slider__slide{width:100%}.keen-slider[data-keen-slider-moves] *{pointer-events:none}

  /* Poppins */
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
      url('/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
      url('/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Basier Circle */
  @font-face {
    font-family: 'Basier Circle';
    src: url('/fonts/basiercircle-regular-webfont.woff2') format('woff2'),
      url('/fonts/basiercircle-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Basier Circle';
    src: url('/fonts/basiercircle-medium-webfont.woff2') format('woff2'),
      url('/fonts/basiercircle-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Basier Circle';
    src: url('/fonts/basiercircle-semibold-webfont.woff2') format('woff2'),
      url('/fonts/basiercircle-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
}

@layer utilities {
  /* We want a blur effect without having a high opacity background, but we still want the
  background to be visible for the browsers that don't support backdrop-filter, so we double the
  background opacity. This can be tested on Firefox. */
  .bg-blur {
    @apply bg-opacity-40;
  }

  @supports (backdrop-filter: blur(4px)) {
    .bg-blur {
      @apply bg-opacity-20;
      backdrop-filter: blur(4px);
    }
  }

  .touch-action-none {
    touch-action: none;
  }

  .fill-none {
    fill: none;
  }

  .with-stripes {
    /* `--tw-gradient-from` is the background color and `--tw-gradient-to` is the 1px stripe line */
    --tw-gradient-stops: var(--tw-gradient-from),
      var(--tw-gradient-from) 0.125rem, var(--tw-gradient-to) 0.125rem,
      var(--tw-gradient-to) 0.1875rem;
  }
}
