# python
**/__pycache__/

# env
**/.env*

# emacs/vim
*#
*~

# MacOS
.DS_Store

# IDE
.idea
.vscode

# IDE stuff
.vscode/

# node stuff
node_modules/

/**/.terraform/
/**/terraform.tfstate
/**/terraform.tfstate.backup

infrastructure/tncvars.md
infrastructure/tncnotes.md
tnc-marxan-full.tfvars
pod-output.yml
tf-db-deployment.log
errorlogs.txt
kubernetes.tfstate.json

infrastructure/kubernetes/vars/*.tfvars
infrastructure/base/vars/*.tfvars
infrastructure/remote-state/vars/*.tfvars
!infrastructure/kubernetes/vars/terraform.tfvars
!infrastructure/base/vars/terraform.tfvars
!infrastructure/remote-state/vars/terraform.tfvars
