# python
**/__pycache__/

# env
**/.env*

# emacs/vim
*#
*~

# MacOS
.DS_Store

# IDE
.idea
.vscode

# IDE stuff
.vscode/

# node stuff
node_modules/

/**/.terraform/
/**/terraform.tfstate
/**/terraform.tfstate.backup
