name: API tests
on:
  push:
    paths:
      - 'api/**'
      - 'geoprocessing/**'
  workflow_dispatch:
jobs:
  test-api-e2e:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    env:
      API_SERVICE_PORT: 3130
      API_SERVICE_URL: http://api:3000
      API_AUTH_JWT_SECRET: ${{ secrets.API_AUTH_JWT_SECRET }}
      API_RUN_MIGRATIONS_ON_STARTUP: "false"
      API_AUTH_X_API_KEY: ${{ secrets.API_AUTH_X_API_KEY }}
      API_LOGGING_MUTE_ALL: "true"
      API_POSTGRES_USER: marxan-api
      API_POSTGRES_PASSWORD: ${{ secrets.API_POSTGRES_PASSWORD }}
      API_POSTGRES_DB: marxan-api
      POSTGRES_API_SERVICE_PORT: 3532
      GEOPROCESSING_SERVICE_PORT: 3140
      GEOPROCESSING_RUN_MIGRATIONS_ON_STARTUP: "false"
      GEO_POSTGRES_USER: marxan-geo-api
      GEO_POSTGRES_PASSWORD: ${{ secrets.GEO_POSTGRES_PASSWORD }}
      GEO_POSTGRES_DB: marxan-geo-api
      POSTGRES_GEO_SERVICE_PORT: 3533
      REDIS_API_SERVICE_PORT: 3479
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Checkout envs
      run: docker-compose -f docker-compose-test-e2e.yml -f docker-compose-test-e2e.ci.yml  config
    - name: Run CI tests via make task
      run: make run-test-e2e-ci
  test-api-unit:
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Run API unit Tests
      run: make test-unit-api
  test-geo-unit:
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Run Geoprocessing Unit Tests
      run: make test-unit-geo
