name: Tests
on:
  push:
      paths:
        - 'app/**'
jobs:
  cypress:
    runs-on: ubuntu-latest
    container: cypress/included:3.8.3
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 100
          working-directory: app

      - name: Check app path
        uses: marceloprado/has-changed-path@v1
        id: changed-front
        with:
          paths: app

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          working-directory: app
          node-version: '14.19.x'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Yarn cache
        uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Yarn install
        if: steps.yarn-cache.outputs.cache-hit != 'true' # Over here!
        run: yarn

      - name: Cypress tests
        uses: cypress-io/github-action@v2.2.7
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          working-directory: app
          build: yarn build
          start: yarn start
          wait-on: 'http://localhost:3000'
