name: e2e client
on:
  push:
    paths:
      - 'app/**'
      - '.github/workflows/e2e-client.yml'
      - '!app/README.md'

jobs:
  e2e_client:
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: app
    steps:
      - name: checkout pull
        uses: actions/checkout@v4

      - name: Node setup
        uses: actions/setup-node@v3
        with:
          node-version-file: 'app/.nvmrc'
          cache: yarn
          cache-dependency-path: 'app/yarn.lock'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Run Playwright tests
        run: yarn playwright test
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
        env:
          NEXT_PUBLIC_MAPBOX_API_TOKEN: ${{ env.NEXT_PUBLIC_MAPBOX_API_TOKEN }}
          # Recommended: pass the GitHub token lets this action correctly
          # determine the unique run id necessary to re-run the checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
