name: Publish PostgreSQL Docker images

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - 'main'
      - 'develop'
      - 'infrastructure/data-layer'
    paths:
      - 'postgresql/**'
      - '.github/**'
  workflow_dispatch:

jobs:
  push_api_to_registry:
    name: Push PostgreSQL-Marxan Docker image to Azure Container Registry
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: 'Login via Azure CLI'
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build and push image
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - run: |
          docker build ./postgresql -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/postgres-marxan:${{ github.sha }} -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/postgres-marxan:${{ github.ref != 'refs/heads/main' && 'staging' || 'production' }}
          docker push -a ${{ secrets.REGISTRY_LOGIN_SERVER }}/postgres-marxan
