name: Webshot build
on:
  push:
    paths:
      - "webshot/**"
      - ".github/**"
  workflow_dispatch:
jobs:
  build-webshot:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build webshot service
        run: docker compose -f docker-compose-build-webshot.yml build webshot
